* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #fcfcfc;
  font-family: "Open Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../../assets/texture/double-bubble-outline.png");
}

.content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

h1 {
  font-family: "Cooper-black-std", serif;
}

.cta {
  text-decoration: none;
  color: #fcfcfc;
  background: #5f7762;
  border: none;
  font-weight: 600;
  font-size: 14px;
}

.loader {
  border: 25px solid #f5cabb;
  border-top: 25px solid #f8e3dc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  margin: 100px auto 150px auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.message {
  width: 100%;
  padding: 16px;
  border: 1px solid grey;
  color: grey;
  margin-top: 15px;
  margin-bottom: 15px;
}

.message.error {
  border-color: #be2020;
  color: #be2020;
  background: #fef1f1;
}

.message.warning {
  border-color: #b7431c;
  color: #b7431c;
  background: #ffefe9;
}

.message.success {
  border-color: #2c4632;
  color: #2c4632;
  background: #e8f5eb;
}

.message-container {
  max-width: 600px;
  margin: auto;
  margin-top: 50px;
}

.link-goback {
  -webkit-box-shadow: 0px 2px 2px rgba(139, 134, 132, 0.3);
          box-shadow: 0px 2px 2px rgba(139, 134, 132, 0.3);
  background-color: #fcfcfc;
  padding: 5px 8px;
  position: absolute;
  top: 130px;
  left: 80px;
}

.link-goback .fa-arrow-left-long {
  margin-right: 8px;
}

@media (max-width: 370px) {
  .link-goback {
    top: 110px;
    left: 30px;
  }
}

footer {
  background-color: #5f7762;
  color: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 150px;
  font-size: 12px;
}

@media (max-width: 480px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.largerscreen-only {
  display: none;
}

@media (min-width: 850px) {
  .largerscreen-only {
    display: inline;
  }
}

nav {
  background-color: #fff6f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav li {
  list-style: none;
}

@media (max-width: 850px) {
  nav li {
    margin-bottom: 20px;
  }
}

nav a {
  text-decoration: none;
  color: #302c2b;
}

nav .btn-login {
  background-color: #f5cabb;
  padding: 5px 10px;
  border-radius: 3px;
}

nav .fa-cart-shopping {
  margin-left: 25px;
  font-size: 21px;
}

nav .current {
  border-bottom: 2px solid #302c2b;
}

nav .uppernav-smallscreen {
  text-align: right;
  padding: 15px 50px;
  background-color: #f5cabb;
}

@media (max-width: 370px) {
  nav .uppernav-smallscreen {
    padding: 15px 30px;
  }
}

nav .mainnav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 50px;
}

@media (max-width: 370px) {
  nav .mainnav-container {
    padding: 15px 30px;
  }
}

nav .mainnav-container .fa-bars {
  font-size: 24px;
  cursor: pointer;
}

nav .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo-container .logo {
  max-width: 50px;
  margin-right: 15px;
}

nav .logo-container .navbar-brand {
  font-family: "Cooper-black-std", serif;
}

@media (max-width: 370px) {
  nav .logo-container .navbar-brand {
    display: none;
  }
}

@media (min-width: 850px) {
  nav .fa-bars,
  nav .uppernav-smallscreen,
  nav .navlinks-mobile-container {
    display: none;
  }
  nav .logo-container {
    min-width: 220px;
  }
  nav .mainnav-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    height: 75px;
  }
  nav .navlinks,
  nav .navlinks--wrapper,
  nav .navuser-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav .navlinks--wrapper {
    padding-left: 30px;
    gap: 30px;
  }
  nav .navlinks {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .navuser-container {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

nav .navlinks-mobile-container {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fcfcfc;
  -webkit-box-shadow: 2px 5px 8px #000000;
          box-shadow: 2px 5px 8px #000000;
  width: 200px;
  height: 100%;
  z-index: 100;
  -webkit-animation: animateright 0.6s;
          animation: animateright 0.6s;
}

@-webkit-keyframes animateright {
  0% {
    right: -330px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@keyframes animateright {
  0% {
    right: -330px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}

@media (min-width: 480px) {
  nav .navlinks-mobile-container {
    width: 300px;
  }
}

nav .navlinks-mobile-container .close-container {
  cursor: pointer;
}

nav .navlinks-mobile-container .navlinks-mobile--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8e3dc;
}

nav .navlinks-mobile-container .navlinks-mobile--menu h2 {
  padding: 0px 40px;
}

nav .navlinks-mobile-container .navlinks-mobile--menu i {
  padding-right: 20px;
  padding-left: 10px;
}

nav .navlinks-mobile-container .navlinks-mobile--menu h2,
nav .navlinks-mobile-container .navlinks-mobile--menu i {
  font-size: 18px;
}

@media (max-width: 480px) {
  nav .navlinks-mobile-container .navlinks-mobile--menu .close {
    display: none;
  }
}

nav .navlinks-mobile-container .navlinks-mobile--content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 30px;
  gap: 8px;
}

.featured--products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 105px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

@media (min-width: 480px) {
  .featured--products {
    margin-top: 100px;
  }
}

@media (min-width: 950px) {
  .featured--products {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 130px 230px;
  }
}

.featuredcard {
  color: #302c2b;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .featuredcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f8e3dc;
  }
}

@media (min-width: 480px) {
  .featuredcard {
    margin-left: -80px;
  }
  .featuredcard .featured-decoration {
    content: "";
    height: 135%;
    width: 380px;
    top: -180px;
    left: 30px;
    z-index: 1;
    position: relative;
    background-color: #f8e3dc;
  }
}

.featuredcard .featuredcard-textcontainer {
  padding: 10px 15px;
  position: relative;
  z-index: 10;
  width: 150px;
}

.featuredcard .featuredcard-imagecontainer {
  width: 200px;
  height: 150px;
  position: relative;
}

.featuredcard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 10;
}

.hero-banner {
  min-height: 300px;
  padding: 50px 25px;
  background-color: #2c4632;
  color: #fcfcfc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-banner h1 {
  text-shadow: 2px 5px 8px #000000;
  font-size: 28px;
}

@media (min-width: 480px) {
  .hero-banner h1 {
    font-size: 36px;
  }
}

@media (min-width: 640px) {
  .hero-banner h1 {
    font-size: 48px;
  }
}

@media (min-width: 1200px) {
  .hero-banner h1 {
    font-size: 56px;
  }
}

.hero-banner .cta {
  -webkit-box-shadow: 2px 5px 8px #000000;
          box-shadow: 2px 5px 8px #000000;
  padding: 5px 45px;
}

@media (min-width: 640px) {
  .hero-banner .cta {
    padding: 10px 60px;
    font-size: 18px;
  }
}

.hero-banner .cta:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.featured-container {
  padding: 0px 25px 80px 25px;
  max-width: 1000px;
  margin: auto;
}

.featured-container h2 {
  text-align: center;
}

.featured-container .featured--products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 105px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

@media (min-width: 480px) {
  .featured-container .featured--products {
    margin-top: 100px;
  }
}

@media (min-width: 950px) {
  .featured-container .featured--products {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 130px 230px;
  }
}

.featuredcard {
  color: #302c2b;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .featuredcard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f8e3dc;
  }
}

@media (min-width: 480px) {
  .featuredcard {
    margin-left: -80px;
  }
  .featuredcard .featured-decoration {
    content: "";
    height: 135%;
    width: 380px;
    top: -180px;
    left: 30px;
    z-index: 1;
    position: relative;
    background-color: #f8e3dc;
  }
}

.featuredcard .featuredcard-textcontainer {
  padding: 10px 15px;
  position: relative;
  z-index: 10;
  width: 150px;
}

.featuredcard .featuredcard-imagecontainer {
  width: 200px;
  height: 150px;
  position: relative;
}

.featuredcard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 10;
}

.featuredcard:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.message-homecontainer {
  margin: 50px;
}

.shop-container {
  max-width: 1050px;
  margin: auto;
}

.shop-container .shop--heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px;
}

@media (max-width: 480px) {
  .shop-container .shop--heading-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 70px;
  }
}

.shop-container .shop--heading-container .search {
  max-width: 150px;
  padding: 5px 7px;
  border: 1px solid #302c2b;
}

.shop-container .productcard:hover {
  -webkit-transform-style: center center 0px;
          transform-style: center center 0px;
  -webkit-transform: perspective(800px) rotateY(-13deg);
          transform: perspective(800px) rotateY(-13deg);
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.shop--products-container,
.editproducts-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 25px 50px;
}

.productcard {
  color: #302c2b;
  text-decoration: none;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 2px 2px rgba(139, 134, 132, 0.3);
          box-shadow: 0px 2px 2px rgba(139, 134, 132, 0.3);
}

.productcard .productcard-textcontainer {
  padding: 10px 15px;
}

.productcard .productcard-imagecontainer {
  width: 200px;
  height: 150px;
}

.productcard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.productcard .cta-view,
.productcard .cta-edit {
  border: none;
  padding: 5px;
  margin-top: 15px;
  width: 100%;
  cursor: pointer;
}

.productcard .cta-view {
  background: #f5cabb;
  color: #302c2b;
}

.productcard .cta-edit {
  background: #2c4632;
  color: #fcfcfc;
}

.login-body {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../../assets/images/backgroundimage.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/images/backgroundimage.jpg");
  background-size: cover;
  background-position: right;
}

.login-body footer {
  margin-top: 0px;
}

.login-body .nav-loginpage {
  margin: auto;
}

.login-body .form-container {
  background-color: #fcfcfc;
  padding: 50px 50px 20px 50px;
  max-width: 400px;
  position: relative;
  margin: 180px auto 50px auto;
}

.login-body h1 {
  margin-top: 0px;
  margin-bottom: -20px;
  text-align: center;
}

.login-body .form-container--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-body label {
  margin-top: 25px;
}

.login-body .username {
  margin-top: 0px;
}

.login-body input {
  margin-top: 8px;
  margin-bottom: 5px;
  padding: 8px;
  border: 1px solid #302c2b;
}

.login-body .form-error {
  display: none;
  font-size: 12px;
  font-style: italic;
  color: #2c4632;
}

.login-body .cta-login {
  border: none;
  margin: 50px auto;
  padding: 10px 25px;
  cursor: pointer;
  width: 100%;
}

.link-goback {
  margin: 50px auto;
}

@media (min-width: 850px) {
  .link-goback {
    margin: 0px auto;
  }
}

.cart-wrapper {
  margin: 150px 50px 0px 50px;
  max-width: 1100px;
}

@media (max-width: 370px) {
  .cart-wrapper {
    margin: 100px 10px;
  }
  .cart-wrapper h1 {
    text-align: center;
  }
}

@media (min-width: 640px) {
  .cart-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 850px) {
  .cart-wrapper {
    margin: 150px auto;
  }
}

.cart-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fcfcfc;
  padding: 10px;
}

.cart-container .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  gap: 10px;
}

.cart-container .cart-item h2 {
  text-align: left;
  font-size: 18px;
}

.cart-container .cart-item a,
.cart-container .cart-item p {
  font-size: 14px;
}

@media (max-width: 370px) {
  .cart-container .cart-item h2 {
    font-size: 16px;
  }
  .cart-container .cart-item a,
  .cart-container .cart-item p {
    font-size: 12px;
  }
}

@media (min-width: 640px) {
  .cart-container .cart-item {
    min-width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.cart-container .cart-item--imagecontainer {
  max-width: 150px;
  max-height: 150px;
}

.cart-container .cart-item--imagecontainer img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: 150px;
}

@media (max-width: 370px) {
  .cart-container .cart-item--imagecontainer img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 640px) {
  .cart-container .cart-item_textcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
}

@media (min-width: 850px) {
  .cart-container .cart-item_textcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 150px;
  }
}

@media (min-width: 640px) {
  .cart-container .cart-item--titlecontainer {
    margin-left: -60px;
  }
}

@media (min-width: 640px) and (max-width: 850px) {
  .cart-container .cart-item--pricecontainer {
    margin-right: -40px;
  }
}

.cart-totalcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  background-color: #f1f1f1;
  padding: 15px;
  font-weight: 600;
}

@media (min-width: 640px) {
  .cart-totalcontainer {
    font-size: 18px;
  }
}

@media (min-width: 850px) {
  .cart-totalcontainer {
    padding: 20px 60px;
  }
}

.details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

@media (min-width: 850px) {
  .details-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
    margin-top: 80px;
    gap: 50px;
  }
}

.details-container .details--imagecontainer {
  max-width: 400px;
  max-height: 400px;
}

.details-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 350px;
  height: 350px;
}

.details-container .details--textcontainer {
  padding: 20px 30px;
  max-width: 390px;
}

.details-container .details-button {
  padding: 10px 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

@media (max-width: 370px) {
  .details-container img {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 1200px) {
  .details-container {
    gap: 90px;
  }
  .details-container .details--textcontainer {
    max-width: 500px;
  }
}

.details-message {
  margin-top: 120px;
  max-width: 500px;
}

.admin-wrapper {
  max-width: 1000px;
  margin: auto;
}

.admin-wrapper h2 {
  text-align: center;
}

.admin-header {
  margin: 20px 50px;
}

@media (min-width: 480px) {
  .admin-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.admin-header h1 {
  font-size: 28px;
}

.adminedit-header {
  margin-top: 150px;
}

.btn-logout {
  background-color: #5f7762;
  color: #fcfcfc;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

.editproducts-container {
  margin-top: 80px;
  background-color: #fcfcfc;
  padding-top: 50px;
  padding-bottom: 50px;
}

.editproducts-container h2 {
  margin-bottom: 50px;
}

.editproducts-container .productcard:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.addForm-container {
  background-color: #f1f1f1;
}

.editForm-container {
  background-color: #fcfcfc;
}

.addForm-container,
.editForm-container {
  margin: 20px auto;
  padding: 40px;
  max-width: 1000px;
}

.addForm-container label,
.editForm-container label {
  display: block;
  margin-top: 20px;
}

.addForm-container form,
.editForm-container form {
  max-width: 300px;
  margin: 0 auto;
}

.addForm-container form input,
.addForm-container textarea,
.editForm-container form input,
.editForm-container textarea {
  width: 100%;
  padding: 5px;
}

.addForm-container button,
.editForm-container button {
  border: none;
  padding: 10px 15px;
  background-color: #5f7762;
  color: #fcfcfc;
  width: 100%;
  font-weight: bold;
  cursor: pointer;
}

.addForm-container .update-container,
.addForm-container .add-container,
.editForm-container .update-container,
.editForm-container .add-container {
  margin-top: 50px;
}

.addForm-container .delete-btn,
.editForm-container .delete-btn {
  background-color: #302c2b;
}

.toggle {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.toggleslider {
  position: absolute;
  top: -5px;
  right: -80px;
  bottom: 5px;
  left: 80px;
  background: #aea7a7;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggleslider:after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #fcfcfc;
  top: 1px;
  left: 1px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle input {
  display: none;
}

.featured {
  cursor: pointer;
}

#featured:checked + .toggleslider {
  background: #2c4632;
}

#featured:checked + .toggleslider:after {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.togglelabel {
  position: relative;
  padding-right: 165px;
  z-index: 10;
}
/*# sourceMappingURL=style.css.map */