* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: getColour(white);
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/texture/double-bubble-outline.png");
}

.content-wrapper {
    flex: 1 0 auto;
}

h1 {
    font-family: $font-headings;
}

h2 {
    margin: 0;
    text-align: center;
}

.cta {
    text-decoration: none;
    color: getColour(white);
    background: getColour(green-light);
    border: none;
}

.link-goback {
    /* border: solid 1px getColour(black); */
    box-shadow: $shadow-light;
    background-color: getColour(white);
    padding: 5px 8px;
    position: absolute;
    top: 130px;
    left: 80px;

    .fa-arrow-left-long {
        margin-right: 8px;
    }

    @media (max-width: $smallestscreen-width) {
        top: 110px;
        left: 30px;
    }
}

footer {
    background-color: getColour(green-light);
    color: getColour(white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    flex-shrink: 0;
    margin-top: 150px;
}

.largerscreen-only {
    display: none;

    @media (min-width: $laptop-width) {
        display: inline;
    }
}
