* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    background-color: getColour(white);
    font-family: $font-primary;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/texture/double-bubble-outline.png");
}

.content-wrapper {
    flex: 1 0 auto;
}

h1 {
    font-family: $font-headings;
}

.cta {
    text-decoration: none;
    color: getColour(white);
    background: getColour(green-light);
    border: none;
    font-weight: 600;
    font-size: 14px;
}

.loader {
    border: 25px solid getColour(peach);
    border-top: 25px solid getColour(peach-light);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    margin: 100px auto 150px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.message {
    width: 100%;
    padding: 16px;
    border: 1px solid grey;
    color: grey;
    margin-top: 15px;
    margin-bottom: 15px;
}

.message.error {
    border-color: getColour(error);
    color: getColour(error);
    background: getColour(error-light);
}

.message.warning {
    border-color: getColour(warning);
    color: getColour(warning);
    background: getColour(warning-light);
}

.message.success {
    border-color: getColour(green);
    color: getColour(green);
    background: getColour(success-light);
}

.message-container {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
}

.link-goback {
    box-shadow: $shadow-light;
    background-color: getColour(white);
    padding: 5px 8px;
    position: absolute;
    top: 130px;
    left: 80px;

    .fa-arrow-left-long {
        margin-right: 8px;
    }

    @media (max-width: $smallestscreen-width) {
        top: 110px;
        left: 30px;
    }
}

footer {
    background-color: getColour(green-light);
    color: getColour(white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    flex-shrink: 0;
    margin-top: 150px;
    font-size: 12px;

    @media (max-width: $mobile-width) {
        flex-direction: column;
    }
}

.largerscreen-only {
    display: none;

    @media (min-width: $laptop-width) {
        display: inline;
    }
}
