.hero-banner {
    min-height: 300px;
    padding: 50px 25px;
    background-color: getColour(green);
    color: getColour(white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    h1 {
        text-shadow: $shadow-dark;
    }

    .cta {
        box-shadow: $shadow-dark;
        padding: 5px 45px;
    }
}

.featured-container {
    padding: 50px 25px 80px 25px;
}
