.login-body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/images/backgroundimage.jpg");
    background-size: cover;
    background-position: right;
}

.link-goback {
    border: solid 2px getColour(black);
    background-color: getColour(white);
    padding: 5px 8px;
    position: absolute;
    top: 130px;
    left: 80px;

    @media (max-width: $smallestscreen-width) {
        top: 110px;
        left: 30px;
    }
}

.fa-arrow-left-long {
    margin-right: 8px;
}

.nav-loginpage {
    margin: auto;
}

.form-container {
    background-color: getColour(white);
    padding: 50px 50px 70px 50px;
    max-width: 400px;
    position: relative;
    margin: 180px auto 50px auto;

    h1 {
        margin-top: 0px;
        text-align: center;
    }
}

.form-container--content {
    display: flex;
    flex-direction: column;

    label {
        margin-top: 30px;
    }

    input {
        margin-top: 10px;
        padding: 8px;
        border: 1px solid getColour(black);
    }

    .formError {
        display: none;
    }
}
