.login-body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/images/backgroundimage.jpg");
    background-size: cover;
    background-position: right;

    footer {
        margin-top: 0px;
    }

    .nav-loginpage {
        margin: auto;
    }

    .form-container {
        background-color: getColour(white);
        padding: 50px 50px 20px 50px;
        max-width: 400px;
        position: relative;
        margin: 180px auto 50px auto;
    }

    h1 {
        margin-top: 0px;
        text-align: center;
    }

    .form-container--content {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-top: 30px;
    }

    input {
        margin-top: 10px;
        padding: 8px;
        border: 1px solid getColour(black);
    }

    .form-error {
        display: none;
        font-size: 12px;
        font-style: italic;
        color: getColour(green);
    }

    .cta-login {
        border: none;
        margin: 50px auto;
        padding: 10px 25px;
    }
}
