nav {
    background-color: getColour(peach-white);
    display: flex;
    flex-direction: column;

    li {
        list-style: none;

        @media (max-width: $laptop-width) {
            margin-bottom: 20px;
        }
    }

    a {
        text-decoration: none;
        color: getColour(black);
    }

    .btn-login {
        background-color: getColour(peach);
        padding: 5px 10px;
        border-radius: 3px;
    }

    .fa-cart-shopping {
        margin-left: 25px;
        font-size: 21px;
    }

    .current {
        border-bottom: 2px solid getColour(black);
    }

    .uppernav-smallscreen {
        text-align: right;
        padding: 15px 50px;
        background-color: getColour(peach);

        @media (max-width: $smallestscreen-width) {
            padding: 15px 30px;
        }
    }

    .mainnav-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;

        @media (max-width: $smallestscreen-width) {
            padding: 15px 30px;
        }

        .fa-bars {
            font-size: 24px;
            cursor: pointer;
        }
    }

    .logo-container {
        display: flex;
        align-items: center;

        .logo {
            max-width: 50px;
            margin-right: 15px;
        }

        .navbar-brand {
            font-family: $font-headings;
        }

        @media (max-width: $smallestscreen-width) {
            .navbar-brand {
                display: none;
            }
        }
    }

    @media (min-width: $laptop-width) {
        .fa-bars,
        .uppernav-smallscreen,
        .navlinks-mobile-container {
            display: none;
        }

        .logo-container {
            min-width: 220px;
        }

        .mainnav-container {
            justify-content: left;
            height: 75px;
        }

        .navlinks,
        .navlinks--wrapper,
        .navuser-container {
            display: flex;
            align-items: center;
        }

        .navlinks--wrapper {
            padding-left: 30px;
            gap: 30px;
        }

        .navlinks {
            width: 100%;
            justify-content: space-between;
        }

        .navuser-container {
            justify-content: right;
        }
    }

    .navlinks-mobile-container {
        display: none;
        position: absolute;
        right: 0;
        background-color: getColour(white);
        box-shadow: $shadow-dark;
        width: 200px;
        height: 100%;
        z-index: 100;
        animation: animateright 0.6s;

        @keyframes animateright {
            0% {
                right: -330px;
                opacity: 0;
            }
            100% {
                right: 0;
                opacity: 1;
            }
        }

        @media (min-width: $mobile-width) {
            width: 300px;
        }

        .close-container {
            cursor: pointer;
        }

        .navlinks-mobile--menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: getColour(peach-light);

            h2 {
                padding: 0px 40px;
            }

            i {
                padding-right: 20px;
                padding-left: 10px;
            }

            h2,
            i {
                font-size: 18px;
            }

            @media (max-width: $mobile-width) {
                .close {
                    display: none;
                }
            }
        }

        .navlinks-mobile--content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 30px;
            gap: 8px;
        }
    }
}
