.shop-container {
    max-width: 80%;
    margin: auto;

    .shop--products-container {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        align-items: center;
        justify-content: flex-start;
    }
}
