$font-headings: "Cooper-black-std", serif;
$font-primary: "Open Sans", sans-serif;

$colours: (
    peach: #f5cabb,
    peach-light: #f8e3dc,
    peach-white: #fff6f3,
    green: #2c4632,
    green-light: #5f7762,
    black: #302c2b,
    grey: #f1f1f1,
    white: #fcfcfc,
    shadow: rgba(139, 134, 132, 0.3),
    shadow-dark: #000000,
);

@function getColour($colour) {
    @return map-get($colours, $colour);
}
